<div class="container">

</div>
<app-triangular-chart [dpts]="dpts" [year]="year" [filters]="selectedDepartments"></app-triangular-chart>
<div class="container controls">
  <h4>Controls</h4>
  <p>
    Click on a category to rotate the chart. Hover on the circles to display department name.
  </p>

  <form class="form-filter">
    <div class="row">
      <div class="col-sm-4">

        <input type="number" class="form-control" placeholder="Year" autofocus [value]="year" [formControl]="yearControl" min="1989" max="2014">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="loop" (ngModelChange)="onLoopChange()" name="loop"/>
            Loop
          </label>
        </div>

      </div>
      <div class="col-sm-4">

        <div class="list-group list-group-flush filter-departments">
          <li *ngFor="let ambassadeur of filteredAmbassadeurs" class="list-group-item">
            <span class="name">{{ambassadeur.name}}</span>
            <span class="detail">{{ambassadeur.year}} - {{ambassadeur.country}}</span>
          </li>
          <button type="button" class="list-group-item list-group-item-action" *ngFor="let filter of filters" [ngClass]="{'active': filter.checked}" (click)="onFilter(filter)">
            {{filter.department}}
          </button>
        </div>
      </div>
    </div>
  </form>

  <h4>Credits</h4>
  <p>
    D3.js code adapted from <a href="https://bl.ocks.org/cmgiven">Chris Given's</a> <a href="https://bl.ocks.org/cmgiven/a0f58034cea5331a814b30b74aacb8af">Triangular Scatterplot</a> example.
  </p>
  <p>
    Data sources from <a href="http://www.insee.fr/fr/themes/detail.asp?reg_id=99&ref_id=ir-irsoceds2014">Insee</a>.
  </p>

  <h4>Source</h4>
  <p>
    <a href="https://github.com/jonasrenault/triangular">Github</a>
  </p>
</div>
